{% extends "base.html" %}
{% load static %}
{% block title %}
Cart &ndash; Belle
{% endblock %}


{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Your cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                {% for cart in carts %}

        <tr class="cart__row border-bottom line1 cart-flex border-top">
            <td class="cart__image-wrapper cart-flex-item">
                <a href="{{cart.item.get_image}}"><img class="cart__image" src="{{cart.item.get_image}}" alt="{{cart.item.title}}"></a>
            </td>
            <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title">
                    <a href="#">{{ cart.item.title  }}</a>
                </div>
                
                <div class="cart__meta-text">
                    Color: {{ cart.colour}}<br>Size: {{ cart.size}}<br>
                </div>
            </td>
            <td class="cart__price-wrapper cart-flex-item">
                <span class="money">
                    $ {{cart.item.price}}
                </span>
            </td>
            <td class="cart__update-wrapper cart-flex-item text-right">
                <div class="cart__qty text-center">
                    <div class="qtyField">
                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                        <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="{{cart.quantity}}" pattern="[0-9]*">
                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                    </div>
                </div>
            </td>
            <td class="text-right small--hide cart-price">
                {% if cart.item.discount_price %}
                ${{ cart.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ cart.get_amount_saved }}</span>
            {% else %}
                ${{ cart.get_total_item_price }}
            {% endif %}

            </td>
            <td class="text-center small--hide"><a href="{% url 'cart:delete_cart' cart.item.slug %}" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        
        {% endfor %}
                            </tbody>
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="{% url 'shop:home' %}" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td>
                                </tr>
                            </tfoot>
                    </table>
                    
                    <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate.</div>
                    <hr>
                    
                    </form>                   
               	</div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                	<div class="cart-note">
                    	<div class="solid-border">
							<h5><label for="CartSpecialInstructions" class="cart-note__label small--text-center">Add a note to your order</label></h5>
							<textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea>
						</div>
                    </div>
                    <div class="solid-border">
                      <div class="row">
                      	<span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">
                            $ {{ subtotal }}
                    </span></span>
                      </div>
                      <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                      <p class="cart_tearm">
                        <label>
                          <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
                           I agree with the terms and conditions</label>
                      </p>
                      <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout" disabled="disabled">
                      <div class="paymnet-img"><img src="{% static 'images/payment-img.jpg' %}" alt="Payment"></div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock %}