{% extends "base.html" %}
{% load static %}

{% block title %}
Belle E-commerce Store - Blog
{% endblock %}

{% block minicart %}
<div class="col-4 col-sm-3 col-md-3 col-lg-2">
    <div class="site-cart">
        <a href="#;" class="site-header__cart" title="Cart">
            <i class="icon anm anm-bag-l"></i>
            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ forloop.counter }}</span>
        </a>
        <!--Minicart Popup-->
        <div id="header-cart" class="block block-cart">
            <ul class="mini-products-list">
                {% for cart in carts %}
                <li class="item">
                    <a class="product-image" href="#">
                        <img src="{{cart.item.get_image}}" alt="{{cart.item.title}}" title="{{cart.item.title}}" />
                    </a>
                    <div class="product-details">
                        <a href="{% url 'cart:delete_cart' cart.item.slug %}" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                        <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                        <a class="pName" href="{% url 'cart:home' %}">{{ cart.item.title  }}</a>
                        <div class="variant-cart">{{ cart.colour}} / {{ cart.size}}</div>
                        <div class="wrapQtyBtn">
                            <div class="qtyField">
                                <span class="label">Qty:</span>
                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                <input type="text" id="Quantity" name="quantity" value="{{cart.quantity}}" class="product-form__input qty">
                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="priceRow">
                            <div class="product-price">
                                <span class="money">$ {{cart.item.price}}</span>
                            </div>
                         </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total">
                <div class="total-in">
                    <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">$</span></span>
                </div>
                 <div class="buttonSet text-center">
                    <a href="{% url 'cart:home' %}" class="btn btn-secondary btn--small">View Cart</a>
                    <a href="{% url 'pages:checkout' %}" class="btn btn-secondary btn--small">Checkout</a>
                </div>
            </div>
        </div>
        <!--End Minicart Popup-->
    </div>
    <div class="site-header__search">
        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
    </div>
</div>
{% endblock %}


{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Blog Article</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
	    <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="{% url 'index' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span>
                <a href="{% url 'blog:home' %}" title="Back to News">Blog</a><span aria-hidden="true">›</span><span>Blog Article</span>
            </div>
        </div>
        <div class="container">
        	<div class="row">
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                    <div class="blog--list-view">
                    	<div class="article"> 
                            <!-- Article Image --> 
                            <a class="article_featured-image" href="{{post.images.url}}"><img class="blur-up lazyload" data-src="{{post.get_image}}" src="{{post.get_image}}" alt="{{ post.title }}"></a> 
                            <h2 class="h3"><a href="#">{{post.title}}</a></h2>
                            <ul class="publish-detail">                      
                                <li><i class="anm anm-user-al" aria-hidden="true"></i>  {{ post.author }} </li>
                                <li><i class="icon anm anm-clock-r"></i> <time datetime="{{ post.date_posted | date:"M d,  Y" }}">{{ post.date_posted | date:"M d,  Y" }}</time></li>
                                <li>
                                    <ul class="inline-list">   
                                        <li><i class="icon anm anm-comments-l"></i> <a href="#"> {{ post.number_of_comments }} comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="rte"> 
                                <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <h3>Sample Text Listing</h3>
                                <ul class="list-items">
                                	<li>Donec et lacus mattis ipsum feugiat interdum non id sapien.</li>
                                    <li>Quisque et mauris eget nisi vestibulum rhoncus molestie a ante.</li>
                                    <li>Curabitur pulvinar ex at tempus sodales.</li>
                                    <li>Mauris efficitur magna quis lectus lobortis venenatis.</li>
                                    <li>Nunc id enim eget augue molestie lobortis in a purus.</li>
                                </ul>
                                <h3>Donec maximus quam at lectus bibendum, non suscipit nunc tristique.</h3>
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                            </div>
                            <hr/>
                            <div class="social-sharing">
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-facebook" title="Share on Facebook">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Share</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-twitter" title="Tweet on Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Tweet</span>
                                </a>
                                <a href="#" title="Share on google+" class="btn btn--small btn--secondary btn--share" >
                                    <i class="fa fa-google-plus" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Google+</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Pin on Pinterest">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Pin it</span>
                                </a>
                                <a href="#" class="btn btn--small btn--secondary btn--share share-pinterest" title="Share by Email" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i> <span class="share-title" aria-hidden="true">Email</span>
                                </a>
                            </div>
                            <div class="blog-nav">
                            	<div class="text-left">
                                	<i class="icon icon-arrow-circle-left"></i>
                                    <a href="#" title="">Previous</a>
                                </div>
                                <div class="text-right">
                                    <a href="#" title="">Next</a>
                                    <i class="icon icon-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>

                        <h3> Comments <h3>
                            {% if comments %}
                            {% for com in comments %}
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                  <p class="fine-print">{{ com.content }}</p>
                              </div>
                            </div>
                                <small>{{com.author}}</small>
                                <hr>
                            {% endfor %}
                        {% else %}
                        <div class="alert alert-secondary" role="alert">
                            No comment yet add one ..
                        </div>
                        {% endif %}
    
                        <div class="formFeilds contact-form form-vertical">
                            {% if user is not None %}
                            <form method="post" action="#" id="comment_form" accept-charset="UTF-8" class="comment-form">
                                {% csrf_token %}  
                                <h2>Leave a comment</h2>
                                <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        {{ form.email }}
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        {{ form.content }}
                                </div>
                                </div>  
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="btn" value="Send Message">
                                </div>
                             </div>
                         </form>
                         {% endif %}
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
                <!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
                	<div class="sidebar_tags">
                    	<div class="sidebar_widget categories">
                            <div class="widget-title"><h2>Category</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                	{% for category in post_categories %}
                                	<li class="lvl-1 "><a href="#" class="site-nav lvl-1">{{ category }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                        	<div class="widget-title"><h2>Recent Posts</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    {% for recent_post in recent_posts %}
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="{{recent_post.get_image}}" src="{{recent_post.get_image}}" alt="" />
                                            </a>
                                        </div>
                                        <div class="details"> <a class="grid-view-item__title" href="#">{{ recent_post.title }}</a>
                                          <div class="grid-view-item__meta"><span class="article__date"> <time datetime="2017-05-02T14:33:00Z">{{ recent_post.date_posted | date:"M d,  Y" }}</time></span></div>
                                        </div>
                                      </div>
                                    </div>
                                    {% endfor %}



                                  </div>
                                </div>
                          	</div>
						</div>
                        <div class="sidebar_widget static-banner">
                        	<img src="assets/images/side-banner-2.jpg" alt="">
                        </div>
						
                    </div>
                </div>
                <!--End Sidebar-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock %}