{% extends "base.html" %}
{% load static %}

{% block title %}
Belle E-commerce Store - Blog
{% endblock %}
{% block minicart %}
<div class="col-4 col-sm-3 col-md-3 col-lg-2">
    <div class="site-cart">
        <a href="#;" class="site-header__cart" title="Cart">
            <i class="icon anm anm-bag-l"></i>
            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">{{ forloop.counter }}</span>
        </a>
        <!--Minicart Popup-->
        <div id="header-cart" class="block block-cart">
            <ul class="mini-products-list">
                {% for cart in carts %}
                <li class="item">
                    <a class="product-image" href="#">
                        <img src="{{cart.item.get_image}}" alt="{{cart.item.title}}" title="{{cart.item.title}}" />
                    </a>
                    <div class="product-details">
                        <a href="{% url 'cart:delete_cart' cart.item.slug %}" class="remove"><i class="anm anm-times-l" aria-hidden="true"></i></a>
                        <a href="#" class="edit-i remove"><i class="anm anm-edit" aria-hidden="true"></i></a>
                        <a class="pName" href="{% url 'cart:home' %}">{{ cart.item.title  }}</a>
                        <div class="variant-cart">{{ cart.colour}} / {{ cart.size}}</div>
                        <div class="wrapQtyBtn">
                            <div class="qtyField">
                                <span class="label">Qty:</span>
                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                <input type="text" id="Quantity" name="quantity" value="{{cart.quantity}}" class="product-form__input qty">
                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="priceRow">
                            <div class="product-price">
                                <span class="money">$ {{cart.item.price}}</span>
                            </div>
                         </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total">
                <div class="total-in">
                    <span class="label">Cart Subtotal:</span><span class="product-price"><span class="money">$</span></span>
                </div>
                 <div class="buttonSet text-center">
                    <a href="{% url 'cart:home' %}" class="btn btn-secondary btn--small">View Cart</a>
                    <a href="{% url 'pages:checkout' %}" class="btn btn-secondary btn--small">Checkout</a>
                </div>
            </div>
        </div>
        <!--End Minicart Popup-->
    </div>
    <div class="site-header__search">
        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
    </div>
</div>
{% endblock %}


{% block content %}

    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Blog</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
	    <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="{% url 'index' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span>
            </div>
        </div>
        <div class="container">
        	<div class="row">
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="custom-search">
                        <form action="http://annimexweb.com/search" method="get" class="input-group search-header search" role="search" style="position: relative;">
                            <input class="search-header__input search__input input-group__field" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
                            <span class="input-group__btn"><button class="btnSearch" type="submit"> <i class="icon anm anm-search-l"></i> </button></span>
                        </form>
                    </div>
                    <div class="blog--list-view blog--grid-load-more">
                        {% for post in posts %}
                    	<div class="article"> 
                            <!-- Article Image --> 
                             <a class="article_featured-image" href="{{post.images.url}}"><img class="blur-up lazyload" data-src="{{post.images.url}}" src="{{post.images.url}}" alt="{{ post.title }}"></a> 
                            <h2 class="h3"><a href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h2>
                            <ul class="publish-detail">                      
                                <li><i class="anm anm-user-al" aria-hidden="true"></i>   {{ post.author }}</li>
                                <li><i class="icon anm anm-clock-r"></i> <time datetime="{{ post.date_posted | date:"M d,  Y" }}">{{ post.date_posted | date:"M d,  Y" }}</time></li>
                                <li>
                                    <ul class="inline-list">   
                                        <li><i class="icon anm anm-comments-l"></i> <a href="#"> {{ post.number_of_comments }} comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="rte"> 
                                <p>{{post.description|truncatewords:80}}... </p>
                                 </div>
                            <p><a href="{% url 'blog:post-detail' post.id %}" class="btn btn-secondary btn--small">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                        </div>
                        {% endfor %} 
                        <div class="loadmore-post">	
                            <a href="#;" class="btn loadMorepost">Load More</a>
                        </div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock %}