{% extends "layout.html" %}
{% load static %}

{% block title %}
Belle E-commerce Store - Blog
{% endblock %}

{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width"></h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        <div id="page-content">
          <!--Page Title-->
          <div class="page section-header text-center">
          <div class="page-title">
                <div class="wrapper"><h1 class="page-width">Blog</h1></div>
              </div>
        </div>
	    <div class="bredcrumbWrap">
            <div class="container breadcrumbs">
                <a href="{% url 'index' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Blog</span>
            </div>
        </div>
        <div class="container">
        	<div class="row">
            	<!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
                	<div class="sidebar_tags">
                    	<div class="sidebar_widget categories">
                            <div class="widget-title"><h2>Category</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                  {% for category in post_categories %}
                                	<li class="lvl-1 "><a href="#" class="site-nav lvl-1">{{ category }}</a></li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_widget">
                        	<div class="widget-title"><h2>Recent Posts</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                          {% for recent_post in recent_posts %}
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="{{recent_post.get_image}}" src="{{recent_post.get_image}}" alt="{{ recent_post.title }}" />
                                            </a>
                                        </div>
                                        <div class="details"> <a class="grid-view-item__title" href="#">{{ recent_post.title }}</a>
                                          <div class="grid-view-item__meta"><span class="article__date"> <time datetime="2017-05-02T14:33:00Z">{{ recent_post.date_posted | date:"M d,  Y" }}</time></span></div>
                                          {% endfor %}
                                        </div>
                                       
                                      </div>
                                    </div>
                                    </div>
                                </div>
                          	</div>
						</div>
                        <div class="sidebar_widget">
                        	<div class="widget-title"><h2>Recent Comments</h2></div>
							<div class="widget-content">
                                <div class="list list-sidebar-products">
                                  <div class="grid">
                                    <div class="grid__item">
                                      <div class="mini-list-item">
                                        <div class="mini-view_image">
                                          
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="assets/images/recent-commnet-img.jpg" src="assets/images/recent-commnet-img.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="details">
                                        	<div class="grid-view-item__meta"><strong>Tim</strong> On <a href="#">Lorem Ipsum</a></div>
                                        	<a class="grid-view-item__title" href="#">On sait depuis longtemps que travailler avec</a>
                                        </div>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          	</div>
						</div>
                        <div class="sidebar_widget tags-clouds">
                        	<div class="widget-title"><h2>Tags Cloud</h2></div>
							<div class="widget-content">
								<ul>
                                	<li><a href="#">Fashion</a></li>
                                    <li><a href="#">Clothes</a></li>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Jeans</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Sun Glasses</a></li>
                                    <li><a href="#">Winter</a></li>
                                    <li><a href="#">Autoparts</a></li>
                                </ul>
                          	</div>
						</div>
                    </div>
                </div>
                <!--End Sidebar-->
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                	<div class="custom-search">
                        <form action="http://annimexweb.com/search" method="get" class="input-group search-header search" role="search" style="position: relative;">
                            <input class="search-header__input search__input input-group__field" type="search" name="q" placeholder="Search" aria-label="Search" autocomplete="off">
                            <span class="input-group__btn"><button class="btnSearch" type="submit"> <i class="icon anm anm-search-l"></i> </button></span>
                        </form>
                    </div>
                    <div class="blog--list-view">
                    	<div class="row">
                        {% for post in posts %}
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 article"> 
                                <!-- Article Image --> 
                                 <a class="article_featured-image" href="{{post.images.url}}"><img class="blur-up lazyload" data-src="{{post.get_image}}" src="{{post.get_image}}" alt="{{ post.title }}"></a> 
                                <h2 class="h3"><a href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h2>
                                <ul class="publish-detail">                      
                                    <li><i class="anm anm-user-al" aria-hidden="true"></i>  {{ post.author }}</li>
                                    <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">{{ post.date_posted | date:"M d,  Y" }}</time></li>
                                </ul>
                                <div class="rte"> 
                                    <p>{{post.description|truncatewords:20}}... </p>
                                     </div>
                                <p><a href="{% url 'blog:post-detail' post.id %}" class="btn btn-secondary btn--small">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                            </div>   
                            {% endfor %} 
                        </div>
                        <hr/>
                        <div class="pagination">
                            <ul>
                              {% if is_paginated %}
                              {% if page_obj.has_previous %}
                                  <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                          href="?page=1">First</a>
                                  <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                          href="?page={{ page_obj.previous_page_number }}">Previous</a>
                              {% endif %}
          
                              {% for num in page_obj.paginator.page_range %}
                                  {% if page_obj.number == num %}
                                      <a class="btn btn-sm btn-info mb-4 mr-2"
                                          href="?page={{ num }}">{{ num }}</a>
                                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                      <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                          href="?page={{ num }}">{{ num }}</a>
                                  {% endif %}
                              {% endfor %}
          
                              {% if page_obj.has_next %}
                                  <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                          href="?page={{ page_obj.next_page_number }}">Next</a>
                                     <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                      href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                              {% endif %}
                          {% endif %}
                              
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li class="next"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                    	</div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock %}