<!--Collection Tab slider-->
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">New Arrivals</h2>
                    <p>Browse the huge variety of our products</p>
                </div>
                <div class="tabs-listing">
                    <ul class="tabs clearfix">
                        <li class="active" rel="tab1">Women</li>
                        <li rel="tab2">Men</li>
                        <li rel="tab3">Sale</li>
                    </ul>

                    <div class="tab_container">
                        <div id="tab1" class="tab_content grid-products">
                            <div class="productSlider">
                                {% for item in items %}
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="{% url 'short-description' %}">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="{{ item.images.url }}" src="{{ item.images.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="{{ item.images1.url }}" src="{{ item.images1.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular"><span class="lbl on-sale">{{ item.percent_save }}%</span> <span class="lbl pr-label1">new</span></div>
                                            <!-- End product label -->
                                        </a>
                                        <!-- end product image -->
                                        
                                        <!-- countdown start -->
                                        <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                        <!-- countdown end -->

                                        <!-- Start product button -->
                                        <form class="variants add" action="{% url 'cart:home' %}" onclick="window.location.href='{% url 'cart:home' %}'"method="post">
                                            <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                        </form>
                                        <div class="button-set">
                                            <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                <i class="icon anm anm-search-plus-r"></i>
                                            </a>
                                            <div class="wishlist-btn">
                                                <a class="wishlist add-to-wishlist" href="{% url 'pages:wishlist' %}">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                            <div class="compare-btn">
                                                <a class="compare add-to-compare" href="{% url 'compare' %}" title="Add to Compare">
                                                    <i class="icon anm anm-random-r"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="{% url 'short-description' %}">{{ item.title }}</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="old-price"></span>
                                            <span class="price"></span>
                                        </div>
                                        <!-- End product price -->
                                        
                                        <div class="product-review">
                                            
                                            <i class="font-13 fa fa-star"></i>
                                            
                                        </div>
                                        <!-- Variant -->
                                        <ul class="swatches">
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant1.jpg' %}" alt="image" /></li>
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant2.jpg' %}" alt="image" /></li>
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant3.jpg' %}" alt="image" /></li>
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant4.jpg' %}" alt="image" /></li>
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant5.jpg' %}" alt="image" /></li>
                                            <li class="swatch medium rounded"><img src="{% static 'images/product-images/variant6.jpg' %}" alt="image" /></li>
                                        </ul>
                                        <!-- End Variant -->
                                    </div>
                                    <!-- End product details -->
                                </div>
                                {% endfor %}
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="{% url 'short-description' %}">
                                            <!-- image -->
                                            <img class="primary blur-up lazyload" data-src="assets/images/product-images/product-image15.jpg" src="assets/images/product-images/product-image15.jpg" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="hover blur-up lazyload" data-src="assets/images/product-images/product-image15-1.jpg" src="assets/images/product-images/product-image15-1.jpg" alt="image" title="product">
                                            <!-- End hover image -->
                                        </a>
                                        <!-- end product image -->

                                        <!-- Start product button -->
                                        <form class="variants add" action="#" onclick="window.location.href='{% url 'cart:home' %}'"method="post">
                                            <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
                                        </form>
                                        <div class="button-set">
                                            <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                <i class="icon anm anm-search-plus-r"></i>
                                            </a>
                                            <div class="wishlist-btn">
                                                <a class="wishlist add-to-wishlist" href="{% url 'pages:wishlist' %}">
                                                    <i class="icon anm anm-heart-l"></i>
                                                </a>
                                            </div>
                                            <div class="compare-btn">
                                                <a class="compare add-to-compare" href="{% url 'compare' %}" title="Add to Compare">
                                                    <i class="icon anm anm-random-r"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end product button -->
                                    </div>
                                    <!-- end product image -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!--Collection Tab slider-->
