{% extends "layout.html" %}
{% load static %}

{% block title %}
Belle E-commerce Store -Index
{% endblock %}


{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper pb-section sliderFull">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="{% static 'images/slideshow-banners/belle-banner1.jpg' %}" src="{% static 'images/slideshow-banners/belle-banner1.jpg' %}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">Shop Our New Collection</h2>
                                        <span class="mega-subtitle slideshow__subtitle">From Hight to low, classic or modern. We have you covered</span>
                                    <a href="{% url 'shop:home' %}">
                                        <span class="btn">Shop now</span>
                                    </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="{% static 'images/slideshow-banners/belle-banner2.jpg' %}" src="{% static 'images/slideshow-banners/belle-banner2.jpg' %}" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Summer Bikini Collection</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Save up to 50% off this weekend only</span>
                                    <a href="{% url 'shop:home' %}">
                                        <span class="btn">Shop now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Home slider-->
        





        
        <!--Collection Box slider-->
        <div class="collection-box section">
        	<div class="container-fluid">
				<div class="collection-grid">
                    {% for category in categories %}
                        <div class="collection-grid-item">
                            <a href="{{ category.images.url }}" class="collection-grid-item__link">
                                <img data-src="{{ category.get_image }}" src="{{ category.get_image }}" alt="{{ category.name }}" class="blur-up lazyload"/>
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">{{ category.name }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <!--End Collection Box slider-->
        
        <!--Logo Slider-->
        <div class="section logo-section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                		<div class="logo-bar">
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo1.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo2.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo3.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo4.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo5.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo6.png' %}" alt="" title="" />
                    </div>
                </div>
                	</div>
                </div>
            </div>
        </div>
        <!--End Logo Slider-->
        
        
        <!--Latest Blog-->
        <div class="latest-blog section pt-0">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        				<div class="section-header text-center">
      						<h2 class="h2">Latest From our Blog</h2>
					    </div>
            		</div>
                </div>
            	<div class="row">
                    {% for recent_post in recent_posts %}
                	<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    	<div class="wrap-blog">
                        	<a href="{{ recent_post.images.url}}" class="article__grid-image">
              					<img src="{{ recent_post.images.url }}" alt="{{ recent_post.title }}" class="blur-up lazyloaded"/>
				            </a>
                            <div class="article__grid-meta article__grid-meta--has-image">
                                <div class="wrap-blog-inner">
                                    <h2 class="h3 article__title">
                                      <a href="{% url 'blog:post-detail' recent_post.id %}">{{ recent_post.title }}</a>
                                    </h2>
                                    <span class="article__date">{{ recent_post.date_posted | date:"M d,  Y" }}</span>
                                    <div class="rte article__grid-excerpt">
                                        {{recent_post.description|truncatewords:20}}...
                                    </div>
                                    <ul class="list--inline article__meta-buttons">
                                    	<li><a href="{% url 'blog:post-detail' recent_post.id %}">Read more</a></li>
                                    </ul>
                                    
                                </div>
							</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--End Latest Blog-->
        
        <!--Store Feature-->
        <div class="store-feature section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    	<ul class="display-table store-info">
                        	<li class="display-table-cell">
                            	<i class="icon anm anm-truck-l"></i>
                            	<h5>Free Shipping &amp; Return</h5>
                            	<span class="sub-text">Free shipping on all US orders</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-dollar-sign-r"></i>
                                <h5>Money Guarantee</h5>
                                <span class="sub-text">30 days money back guarantee</span>
                          	</li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-comments-l"></i>
                                <h5>Online Support</h5>
                                <span class="sub-text">We support online 24/7 on day</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-credit-card-front-r"></i>
                                <h5>Secure Payments</h5>
                                <span class="sub-text">All payment are Secured and trusted.</span>
                        	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Store Feature-->
    </div>
    <!--End Body Content-->
    

        {% endblock %}
        